.popup__container {
  max-width: 430px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 34px 36px 33px 36px;
  position: relative;
  margin: 195px auto 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 566px) {
  .popup__container {
    max-width: 280px;
    padding: 25px 22px 25px 22px;
    margin: 123px auto 0 auto;
  }
}
